# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/design/active-states.jpg
src/design/desktop-design.jpg
src/design/desktop-preview.jpg
src/design/mobile-design.jpg
src/design/mobile-with-filters.jpg
src/images/account.svg
src/images/bg-header-desktop.svg
src/images/bg-header-mobile.svg
src/images/eyecam-co.svg
src/images/faceit.svg
src/images/favicon-32x32.png
src/images/icon-remove.svg
src/images/insure.svg
src/images/loop-studios.svg
src/images/manage.svg
src/images/myhome.svg
src/images/photosnap.svg
src/images/shortly.svg
src/images/the-air-filter-company.svg
README-template.md