* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bluish-white: hsl(180, 20%, 90%);
  --light-blue: hsl(180, 50%, 50%);
  --light-blue-faded: hsl(180, 50%, 95%);
  --blue: hsl(180, 100%, 30%);
  --dark-blue: hsl(180, 95%, 8%);
  --grey-text: hsl(0, 0%, 40%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bluish-white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.6rem;
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 2rem;
  }
}

p, a {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.header-background {
  min-height: 100px;
  background-color: var(--blue);
  background-image: url(./images/bg-header-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1000px) {
  .header-background {
    min-height: 200px;
    background-image: url(./images/bg-header-desktop.svg);
  }
}

.main-content {
  height: auto;
  padding: 1rem;
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}